In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
train = pd.read_csv('loan_train.csv')
test = pd.read_csv('loan_test.csv')
data = pd.concat([train, test])
data.columns()
#train = train.iloc[:,:].values
#test = test.iloc[:,:].values

/home/prathamesh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: 'Index' object is not callable

In [ ]:
data.apply(lambda x: sum(x.isnull()))

In [13]:
replace_dict = {1.0:'Yes', 0.0:'No'}
train.Credit_History = train.Credit_History.replace(replace_dict)
test.Credit_History = test.Credit_History.replace(replace_dict)
train.Credit_History = train.Credit_History.fillna('Unknown')
test.Credit_History = test.Credit_History.fillna('Unknown')

In [14]:
replace_dict = {'0':'0', '1':'1', '2':'2', '3+':'3'}

train.Dependents = train.Dependents.replace(replace_dict)
test.Dependents = test.Dependents.replace(replace_dict)
train.Dependents = train.Dependents.fillna('Unknown')
test.Dependents = test.Dependents.fillna('Unknown')

In [15]:
train.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
train.LoanAmount = train.LoanAmount.transform(lambda x: x.fillna(x.mean()))
test.LoanAmount = test.LoanAmount.transform(lambda x: x.fillna(x.mean()))
train.Loan_Amount_Term = train.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))
test.Loan_Amount_Term = test.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))

In [17]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [18]:
train.Self_Employed = train.Self_Employed.fillna('Unknown')
test.Self_Employed = test.Self_Employed.fillna('Unknown')

In [19]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [20]:
train.Gender = train.Gender.fillna('Unknown')
test.Gender = test.Gender.fillna('Unknown')
train.Married = train.Married.fillna('Unknown')
test.Married = test.Married.fillna('Unknown')

In [21]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [39]:
test.apply(lambda x: sum(x.isnull()))

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [23]:
data = pd.concat([train, test])
data.apply(lambda x: sum(x.isnull()))

/home/prathamesh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

ApplicantIncome        0
CoapplicantIncome      0
Credit_History         0
Dependents             0
Education              0
Gender                 0
LoanAmount             0
Loan_Amount_Term       0
Loan_ID                0
Loan_Status          367
Married                0
Property_Area          0
Self_Employed          0
dtype: int64

In [47]:
test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,Yes,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,Yes,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,Yes,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,Unknown,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,Yes,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,Yes,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,Yes,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,No,Rural
8,Male,Yes,2,Graduate,Unknown,13633,0,280.0,240.0,Yes,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,Yes,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,Yes,Urban
11,Male,Yes,1,Graduate,Unknown,2185,1516,162.0,360.0,Yes,Semiurban
12,Male,No,3,Graduate,No,4166,0,40.0,180.0,Unknown,Urban
13,Male,Yes,2,Graduate,Unknown,12173,0,166.0,360.0,No,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,Yes,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,Yes,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,Yes,Urban
17,Male,Yes,3,Graduate,No,3786,333,126.0,360.0,Yes,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,Yes,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,Yes,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,Yes,Urban
21,Female,No,3,Not Graduate,No,2083,0,28.0,180.0,Yes,Urban
22,Unknown,No,0,Graduate,No,3909,0,101.0,360.0,Yes,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,Yes,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,Yes,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,No,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,Unknown,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,Yes,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,Unknown,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,Yes,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,Yes,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,Yes,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,No,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,Yes,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,Yes,Rural
342,Male,Yes,3,Not Graduate,No,3522,0,81.0,180.0,Yes,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,Yes,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,Yes,Rural
345,Male,Yes,3,Graduate,No,8334,0,260.0,360.0,Yes,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,No,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,Yes,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,Yes,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,Yes,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,Yes,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,Unknown,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,Yes,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,Yes,Rural
354,Male,Yes,3,Not Graduate,No,5316,187,158.0,180.0,No,Semiurban
355,Male,Yes,3,Graduate,No,7603,1213,197.0,360.0,Yes,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,Yes,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,Yes,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,Unknown,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,Yes,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,Unknown,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,Yes,Semiurban
362,Male,Yes,3,Not Graduate,Yes,4009,1777,113.0,360.0,Yes,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,Yes,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,Unknown,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,Yes,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,Yes,Rural

In [45]:
train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,Yes,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,Yes,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,Yes,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,Yes,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,Yes,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.000000,360.0,Yes,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.000000,360.0,Yes,Urban,Y
7,Male,Yes,3,Graduate,No,3036,2504.0,158.000000,360.0,No,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.000000,360.0,Yes,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.000000,360.0,Yes,Semiurban,N
10,Male,Yes,2,Graduate,No,3200,700.0,70.000000,360.0,Yes,Urban,Y
11,Male,Yes,2,Graduate,Unknown,2500,1840.0,109.000000,360.0,Yes,Urban,Y
12,Male,Yes,2,Graduate,No,3073,8106.0,200.000000,360.0,Yes,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.000000,360.0,Yes,Rural,N
14,Male,Yes,2,Graduate,No,1299,1086.0,17.000000,120.0,Yes,Urban,Y
15,Male,No,0,Graduate,No,4950,0.0,125.000000,360.0,Yes,Urban,Y
16,Male,No,1,Not Graduate,No,3596,0.0,100.000000,240.0,Unknown,Urban,Y
17,Female,No,0,Graduate,No,3510,0.0,76.000000,360.0,No,Urban,N
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.000000,360.0,Yes,Rural,N
19,Male,Yes,0,Graduate,Unknown,2600,3500.0,115.000000,342.0,Yes,Urban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.000000,360.0,No,Urban,N
21,Male,Yes,1,Graduate,No,5955,5625.0,315.000000,360.0,Yes,Urban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.000000,360.0,No,Semiurban,N
23,Unknown,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,No,Rural,N
24,Male,Yes,1,Graduate,Unknown,3717,2925.0,151.000000,360.0,Unknown,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.000000,360.0,Yes,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.000000,360.0,Yes,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.000000,360.0,Yes,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.000000,360.0,Yes,Urban,N
29,Female,No,2,Graduate,Unknown,3750,2083.0,120.000000,360.0,Yes,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.000000,360.0,No,Rural,N
585,Male,Yes,1,Graduate,No,4283,3000.0,172.000000,84.0,Yes,Rural,N
586,Male,Yes,0,Graduate,No,2297,1522.0,104.000000,360.0,Yes,Urban,Y
587,Female,No,0,Not Graduate,No,2165,0.0,70.000000,360.0,Yes,Semiurban,Y
588,Unknown,No,0,Graduate,No,4750,0.0,94.000000,360.0,Yes,Semiurban,Y
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.000000,360.0,No,Semiurban,N
590,Male,Yes,0,Graduate,No,3000,3416.0,56.000000,180.0,Yes,Semiurban,Y
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.000000,240.0,Yes,Semiurban,N
592,Unknown,No,3,Graduate,Yes,9357,0.0,292.000000,360.0,Yes,Semiurban,Y
593,Male,Yes,0,Graduate,No,3859,3300.0,142.000000,180.0,Yes,Rural,Y
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.000000,360.0,Yes,Urban,Y
595,Male,No,0,Not Graduate,No,3833,0.0,110.000000,360.0,Yes,Rural,Y
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.000000,360.0,Yes,Rural,N
597,Male,No,Unknown,Graduate,No,2987,0.0,88.000000,360.0,No,Semiurban,N
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.000000,360.0,Yes,Rural,Y
599,Male,Yes,2,Graduate,No,5780,0.0,192.000000,360.0,Yes,Urban,Y
600,Female,No,3,Graduate,Unknown,416,41667.0,350.000000,180.0,Unknown,Urban,N
601,Male,Yes,0,Not Graduate,Unknown,2894,2792.0,155.000000,360.0,Yes,Rural,Y
602,Male,Yes,3,Graduate,No,5703,0.0,128.000000,360.0,Yes,Urban,Y
603,Male,No,0,Graduate,No,3676,4301.0,172.000000,360.0,Yes,Rural,Y
604,Female,Yes,1,Graduate,No,12000,0.0,496.000000,360.0,Yes,Semiurban,Y
605,Male,Yes,0,Not Graduate,No,2400,3800.0,146.412162,180.0,Yes,Urban,N
606,Male,Yes,1,Graduate,No,3400,2500.0,173.000000,360.0,Yes,Semiurban,Y
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.000000,360.0,Yes,Rural,Y
608,Male,Yes,0,Graduate,No,3232,1950.0,108.000000,360.0,Yes,Rural,Y
609,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,Yes,Rural,Y
610,Male,Yes,3,Graduate,No,4106,0.0,40.000000,180.0,Yes,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,Yes,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,Yes,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,No,Semiurban,N

In [35]:
rep_gender = {'Male':1, 'Female':0, 'Unknown':3}
rep_married = {'Yes':1, 'No':0}
rep_edu = {'Graduate':1, 'Not Graduate':0}

In [36]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

/home/prathamesh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Semiurban'

In [1]:
import keras

Using TensorFlow backend.