In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('loan_train.csv')
test = pd.read_csv('loan_test.csv')
train.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
train.Gender = train.Gender.fillna('Unknown')
test.Gender = test.Gender.fillna('Unknown')

In [5]:
train.Married = train.Married.fillna('Unknown')
test.Married = test.Married.fillna('Unknown')

In [6]:
replace_dep = {'1':1, '2':2, '3+':3}
train.Dependents = train.Dependents.replace(replace_dep)
test.Dependents = test.Dependents.replace(replace_dep)

train.Dependents = train.Dependents.fillna('Unknown')
test.Dependents = test.Dependents.fillna('Unknown')

In [7]:
train.apply(lambda x: sum(x.isnull()))

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
train.Self_Employed = train.Self_Employed.fillna('Unknown')
test.Self_Employed = test.Self_Employed.fillna('Unknown')

In [9]:
train.LoanAmount = train.LoanAmount.transform(lambda x: x.fillna(x.mean()))
test.LoanAmount = test.LoanAmount.transform(lambda x: x.fillna(x.mean()))

In [10]:
train.Loan_Amount_Term = train.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))
test.Loan_Amount_Term = test.Loan_Amount_Term.transform(lambda x: x.fillna(x.mean()))

In [11]:
replace_dict = {1.0:'Yes', 0.0:'No'}

train.Credit_History = train.Credit_History.replace(replace_dict)
test.Credit_History = test.Credit_History.replace(replace_dict)
train.Credit_History = train.Credit_History.fillna('Unknown')
test.Credit_History = test.Credit_History.fillna('Unknown')

In [12]:
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,Yes,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,Yes,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,Yes,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,Yes,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,Yes,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.000000,360.0,Yes,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.000000,360.0,Yes,Urban,Y
7,LP001014,Male,Yes,3,Graduate,No,3036,2504.0,158.000000,360.0,No,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.000000,360.0,Yes,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.000000,360.0,Yes,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.000000,360.0,Yes,Urban,Y
11,LP001027,Male,Yes,2,Graduate,Unknown,2500,1840.0,109.000000,360.0,Yes,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.000000,360.0,Yes,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.000000,360.0,Yes,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.000000,120.0,Yes,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.000000,360.0,Yes,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.000000,240.0,Unknown,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.000000,360.0,No,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.000000,360.0,Yes,Rural,N
19,LP001041,Male,Yes,0,Graduate,Unknown,2600,3500.0,115.000000,342.0,Yes,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.000000,360.0,No,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.000000,360.0,Yes,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.000000,360.0,No,Semiurban,N
23,LP001050,Unknown,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,No,Rural,N
24,LP001052,Male,Yes,1,Graduate,Unknown,3717,2925.0,151.000000,360.0,Unknown,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.000000,360.0,Yes,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.000000,360.0,Yes,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.000000,360.0,Yes,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.000000,360.0,Yes,Urban,N
29,LP001087,Female,No,2,Graduate,Unknown,3750,2083.0,120.000000,360.0,Yes,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.000000,360.0,No,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.000000,84.0,Yes,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.000000,360.0,Yes,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.000000,360.0,Yes,Semiurban,Y
588,LP002925,Unknown,No,0,Graduate,No,4750,0.0,94.000000,360.0,Yes,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.000000,360.0,No,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.000000,180.0,Yes,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.000000,240.0,Yes,Semiurban,N
592,LP002933,Unknown,No,3,Graduate,Yes,9357,0.0,292.000000,360.0,Yes,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.000000,180.0,Yes,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.000000,360.0,Yes,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.000000,360.0,Yes,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.000000,360.0,Yes,Rural,N
597,LP002943,Male,No,Unknown,Graduate,No,2987,0.0,88.000000,360.0,No,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.000000,360.0,Yes,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.000000,360.0,Yes,Urban,Y
600,LP002949,Female,No,3,Graduate,Unknown,416,41667.0,350.000000,180.0,Unknown,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,Unknown,2894,2792.0,155.000000,360.0,Yes,Rural,Y
602,LP002953,Male,Yes,3,Graduate,No,5703,0.0,128.000000,360.0,Yes,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.000000,360.0,Yes,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.000000,360.0,Yes,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,146.412162,180.0,Yes,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.000000,360.0,Yes,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.000000,360.0,Yes,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.000000,360.0,Yes,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,Yes,Rural,Y
610,LP002979,Male,Yes,3,Graduate,No,4106,0.0,40.000000,180.0,Yes,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,Yes,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,Yes,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,No,Semiurban,N

In [13]:
replace_marr = {'No':0,'Yes':1, 'Unknown':2}
train.Married = train.Married.replace(replace_marr)
test.Married = test.Married.replace(replace_marr)

In [14]:
replace_emp = {'No':0,'Yes':1, 'Unknown':2}
train.Self_Employed = train.Self_Employed.replace(replace_emp)
test.Self_Employed = test.Self_Employed.replace(replace_emp)

In [30]:
replace_edu = {'Not Graduate':0,'Graduate':1, 'Unknown':2}
train.Education = train.Education.replace(replace_edu)
test.Education = test.Education.replace(replace_edu)

In [16]:
replace = {'Unknown':0}
train.Dependents = train.Dependents.replace(replace)
test.Dependents = test.Dependents.replace(replace)

In [17]:
replace_cred = {'No':0,'Yes':1, 'Unknown':2}
train.Credit_History = train.Credit_History.replace(replace_cred)
test.Credit_History = test.Credit_History.replace(replace_cred)

In [18]:
replace_area = {'Rural':0,'Semiurban':1, 'Urban':2}
train.Property_Area = train.Property_Area.replace(replace_area)
test.Property_Area = test.Property_Area.replace(replace_area)

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Loan_Status'] = le.fit_transform(train['Loan_Status'])

In [20]:
X = train.drop(['Loan_Status'], axis=1)
X = X.drop(['Loan_ID'], axis=1)

In [32]:
test1 = test.drop(['Loan_ID'], axis=1)
y = train.Loan_Status
X = X[['Credit_History','Education','Married','Self_Employed','Property_Area']]
test1 = test1[['Credit_History','Education','Married','Self_Employed','Property_Area']]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_eval, y_train, y_eval = train_test_split(X,y, test_size=0.2, random_state=0)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [24]:
sc.fit(X_train)

/home/prathamesh/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
X_train_std = sc.transform(X_train)
X_eval_std = sc.transform(X_eval)

/home/prathamesh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
/home/prathamesh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.

In [53]:
#from sklearn import tree
#model = tree.DecisionTreeClassifier(criterion='gini')
#model.fit(X_train_std, y_train)
#y_pred = model.predict(X_eval_std)
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train_std, y_train)
y_pred = logreg.predict(X_eval_std)

/home/prathamesh/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [54]:
from sklearn import metrics
print(metrics.accuracy_score(y_eval, y_pred))

0.8292682926829268

In [55]:
loadId = test['Loan_ID']

In [56]:
sc.fit(test1)

/home/prathamesh/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [57]:
test1_std = sc.transform(test1)

/home/prathamesh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [58]:
result = model.predict(test1_std)

In [59]:
result = pd.DataFrame(result)

In [60]:
submission = pd.concat([loadId, result], axis=1)
submission.columns.values[1]='Loan_Status'

In [61]:
submission

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            0
5    LP001054            1
6    LP001055            1
7    LP001056            0
8    LP001059            1
9    LP001067            1
10   LP001078            0
11   LP001082            1
12   LP001083            1
13   LP001094            0
14   LP001096            1
15   LP001099            1
16   LP001105            1
17   LP001107            1
18   LP001108            1
19   LP001115            1
20   LP001121            1
21   LP001124            0
22   LP001128            1
23   LP001135            0
24   LP001149            1
25   LP001153            0
26   LP001163            1
27   LP001169            1
28   LP001174            1
29   LP001176            1
..        ...          ...
337  LP002856            1
338  LP002857            1
339  LP002858            0
340  LP002860            1
341  LP002867            0
342  LP002869            1
343  LP002870            1
344  LP002876            1
345  LP002878            1
346  LP002879            0
347  LP002885            0
348  LP002890            1
349  LP002891            1
350  LP002899            1
351  LP002901            1
352  LP002907            1
353  LP002920            1
354  LP002921            0
355  LP002932            1
356  LP002935            1
357  LP002952            1
358  LP002954            1
359  LP002962            1
360  LP002965            1
361  LP002969            1
362  LP002971            1
363  LP002975            1
364  LP002980            0
365  LP002986            1
366  LP002989            0

[367 rows x 2 columns]